{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Employee Management</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'website/css/reset.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'website/css/layout.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'website/css/style.css' %}" type="text/css" media="all">
<script type="text/javascript" src="{% static 'website/js/jquery-1.5.2.js' %}" ></script>
<script type="text/javascript" src="{% static 'website/js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/cufon-replace.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/Molengo_400.font.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/Expletus_Sans_400.font.js' %}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.bg, .box2{behavior:url("js/PIE.htc");}</style>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
  <div class="main">
    <!-- header -->
    <header>
      <div class="wrapper">
        <nav>
          <ul id="menu">
            <li class="end"><a href="{% url 'loginpage' %}">Login</a></li>
            
          </ul>
        </nav>
      </div>
      <div class="wrapper">
        <h1><a href="{% url 'homepage' %}" id="logo">CANVAS</a></h1>
      </div>
      <div id="slogan"> We Will Open The World<span>of opportunities for you!</span> </div>
      <ul class="banners">
        <li><a href="#"><img src alt=""></a></li>
        <li><a href="#"><img src  alt=""></a></li>
        <li><a href="#"><img src alt=""></a></li>
      </ul>
    </div>
</div>
</header>
{% block content %}
{% endblock %}


<script type="text/javascript">Cufon.now();</script>
</body>