{% extends "admin.html" %}
 {% block page_title %}
        Edit Employee | Name:{{ employee.us.first_name }} {{ ' '}}{{ employee.us.last_name }}
 {% endblock page_title %}
{% block main_content %}
        <section class="content">
          <div class="container-fluid">
          <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit employee</h3>
              </div>
               <div class="mt-2">
                  {% if success %}
                    <div class="alert alert-success">{{ success }}</div>
                  {% endif %}
                </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action=" " method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="fname"  value="{{employee.us.first_name}}" placeholder="First Name">
                    <input type="hidden" name="emp_id" value="{{ employee.us.id}}">
                  </div>
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lname" value="{{employee.us.last_name}}" placeholder="Last Name">
                  </div>
                  <div class="form-group">
                    <label >Email</label>
                    <input type="email" class="form-control" name="mail" value="{{employee.us.email}}"  placeholder="Enter email">
                  </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="adrs" value="{{employee.address}}" placeholder="Address">
                </div>

                <div class="form-group">
                  <label>Phone</label>
                  <input type="integer" class="form-control" name="phn" value="{{employee.phone}}" placeholder="phone">
              </div>
                   
    
              
                   
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Edit Employee</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
        </section>
      
        
{% endblock main_content %}